
#search-and-category-page {
  width: 100%;
  height: 100%;
  background-color: #fff;

  display: none;
  align-items: center;
  justify-content: center;
  opacity: 0;

  flex-direction: column;
  position: relative;
}

#search-and-category-page > header {
  color:#E5E5E5;
  position: relative;
}

#search-bar {
  color:gray;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 4%;
}