*{margin:0; padding:0;}

@mixin flex-setting ($justify-c) {
  display: flex;
  align-items: center;
  justify-content: $justify-c;
}

@keyframes bubble {
  // 0% {
  //   top:15%;
  // }

  // 25% {
  //   top:25%;
  //   opacity: .5;
  // }

  // 50% {
  //   top:50%;
  //   opacity: .2;
  // }

  // 75% {
  //   top:75%;
  //   opacity: .5;
  // }

  // 100% {
  //   top:100%;
  // }
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

#pc {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  @include flex-setting(center);
  flex-direction: column;
  overflow: hidden;
  position: relative;

  nav {
    width: 95%;
    height: 10%;
    @include flex-setting(flex-start);
    color: #ccc;
    font-size: 30px;
    position: absolute;
    top: 0%;
  }

  section {
    width: 50%;
    height: 7%;
    @include flex-setting(flex-start);
    padding-left: 1.5%;
    z-index: 1;
    
    background-color: #fff;
    border: #ccc 4px solid;
    border-radius: 100px;

    color: #ccc;
    font-size: 20px;
  }
  
  .circle-1, .circle-2,.circle-3,.circle-4,.circle-5,.circle-6 {
    background-color: rgb(230, 230, 230);
    position:absolute;
  }

  .circle-1 {
    width: 120px;
    height: 120px;
    border-radius: 250px;
    top:15%;
    left: -1%;

    animation : 3s bubble alternate infinite;
  }

  .circle-2 {
    width: 250px;
    height: 250px;
    border-radius: 300px;
    bottom:5%;
    left:5%;

    animation : 5s bubble alternate infinite;
  }

  .circle-3 {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    top:-1%;
    left:25%;

    animation : 2s bubble alternate infinite;
  }

  .circle-4 {
    width: 300px;
    height: 300px;
    border-radius: 300px;
    bottom:-10%;
    left:50%;

    animation : 4s bubble alternate infinite;
  }

  .circle-5 {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    top:35%;
    right:15%;

    animation : 5s bubble alternate infinite;
  }

  .circle-6 {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    top:2%;
    right:-2%;

    animation : 3s bubble alternate infinite;
  }
  
}
