
#first-page {
  width: 100%;
  height: 100%;
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  width: 320px;
  height: 320px;
  background-image: url("../bubbleroom-mobile-vertical/img/버블룸.png")
  ;
  background-position: center;
  background-size: cover;
}

#logo:hover {
  cursor: pointer;
}